<div class="row">
  <div class="small-12 medium-6 large-6 small-centered columns">
  <%= form_tag url_for(controller: 'invites', action: 'rsvp'), method: 'get', remote: true do %>
  <%= text_field_tag 'code', nil, placeholder: 'Enter RSVP code', class: "rsvp_input" %>
  <% end %>
  </div>
</div>
<div id="status" class="text-center"></div>
<div id="invite" class="small-10 small-centered columns"></div>
