<article class="wedding-section" id="accomm">

  <div class="row">
    <h1 class="fancy text-center">Accommodation</h1>
    <div class="small-12 columns">
      <p>We trust that you're all very good <a href="http://lmgtfy.com/?q=accommodation+casuarina" target="_blank">Googlers</a> and can find accomodation on your own. But we've added some suggestions here to get you started.</p>
      <p><b>Kingscliff</b> is about 15 minutes south of Coolangatta and 30 minutes south of the Gold Coast. <b>Casuarina</b> is only 5 minutes further south from Kingscliff.</p>
    </div>
  </div>

  <div class="row clearfix">
    <div class="small-12 small-centered medium-uncentered columns left">
      <h3 class="text-center">Need somewhere to stay?</h3>
      <h4 class="text-center">Here are a few options</h4>

      <ul class="small-block-grid-2 medium-block-grid-4">
        <li>
          <a href="http://cottonbeachresort.com.au/" target="_blank">
            <img src="http://i.imgur.com/YHO1sOjl.jpg" alt="Cotton Beach Resort">
          </a>
          <p class="subtitle text-center">Cotton Beach Resort, Casuarina</p>
        </li>
        <li>
          <a href="http://www.tchp.com.au/tchp.php?park=4&page=1" target="_blank">
            <img src="http://i.imgur.com/rlv3hj5l.jpg" alt="Kingscliff Beach Holiday Park">
          </a>
          <p class="subtitle text-center">Kingscliff Beach Holiday Park</p>
        </li>
        <li>
          <a href="http://www.sunrisecove.com.au/" target="_blank">
            <img src="http://i.imgur.com/tUEpUlMl.jpg" alt="Sunrise Cove Holiday Apartments">
          </a>
          <p class="subtitle text-center">Sunrise Cove Holiday Apartments, Kingscliff</p>
        </li>
        <li>
          <a href="http://paradisoresort.com.au/" target="_blank">
            <img src="http://i.imgur.com/4PvgIdgl.jpg" alt="Paradiso Resort">
          </a>
          <p class="subtitle text-center">Paradiso Resort, Kingscliff</p>
        </li>
      </ul>

    </div>
  </div>

</article>
<hr>
