<article class="wedding-section" id="ceremony">

  <div class="row">
    <h1 class="fancy text-center">Ceremony</h1>
  </div>

  <div class="row clearfix">
    <div class="small-12 medium-5 small-centered medium-uncentered columns google-maps">
      <!-- Church Map -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1757.1924103448102!2d153.57653872090145!3d-28.25634600449752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b90ff59338fe8a7%3A0x5c3f139571f1231e!2s16+Pearl+St%2C+Kingscliff+NSW+2487!5e0!3m2!1sen!2sau!4v1405138295919" width="400" height="300" frameborder="0" style="border:0"></iframe>
    </div>

    <div class="small-12 medium-6 small-centered medium-uncentered columns left">
      <h2 class="text-center">St. Anthony's Catholic Church</h2>
      <h4 class="text-center">Kingscliff, NSW</h4>
      <p class="text-center fancy">two o'clock</p>
      <p>The ceremony will last around an hour. There is some parking on the street and in the church/school carpark but it may be busy so remember to allow time to find a park.</p>
    </div>
  </div>

</article>
<hr>
