<article class="wedding-section" id="contact">

  <div class="row">
    <h1 class="fancy text-center">Contact</h1>
    <h3 class="text-center">Have you still got questions?</h3>
  </div>

  <div class="row">
    <div class="small-12 small-centered medium-uncentered columns">
      <p>There could be something we've failed to mention that you really need answering so if you have any more questions or concerns please feel free to contact us via email.</p>
      <a href="mailto:caitlanandjoshwedding@gmail.com"><p class="text-center word-wrap">caitlanandjoshwedding@gmail.com</p></a>

    </div>
  </div>

</article>
<hr>
