<article class="wedding-section" id="reception">

  <div class="row">
    <h1 class="fancy text-center">Reception</h1>
  </div>

  <div class="row clearfix">
    <div class="small-12 medium-5 small-centered medium-uncentered columns google-maps">
      <!-- Reception Map -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d878.2026449537996!2d153.5699412!3d-28.304061599999983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b90f8854924add3%3A0xb65d005f2b6bc3f2!2sBarclay+Dr%2C+Casuarina+NSW+2487!5e0!3m2!1sen!2sau!4v1405163974041" width="400" height="300" frameborder="0" style="border:0"></iframe>
    </div>

    <div class="small-12 medium-6 small-centered medium-uncentered columns left">
      <h2 class="text-center">Osteria</h2>
      <h4 class="text-center">Casuarina, NSW</h4>
      <p class="text-center fancy">half past five</p>
      <p>Be prepared to do some serious partying at the reception. Relax in the beautiful garden area, play games, drink, dance and feast the night away.</p>
      <p><b>Special note:</b> The venue has requested that everyone have transport on the night organised beforehand. Things will be wrapping up by around 11:30pm. See the transport section for more info.</p>
    </div>
  </div>

</article>
<hr>
