<article class="wedding-section" id="transport">

  <div class="row">
    <h1 class="fancy text-center">Transport</h1>
  </div>

  <div class="row">
    <div class="small-12 small-centered medium-uncentered columns">
      <p>We ask that you organise your own transport to and from your accommodation and the ceremony/reception.</p>
      <p>As mentioned before, make sure you organise some way to get back to where you are staying after the reception <b>in advance</b>. The reception will be ending around 11:30pm.</p>
      <p>Here are the contact details for local taxi services:</p>

      <div class="medium-12 small-centered columns">
        <div class="small-12 small-centered medium-4 medium-uncentered columns transport">
          <h5 class="text-center"><b>Kingscliff Tweed Coast Taxis</b></h5>
          <p class="text-center">1300 99 2487</p>
        </div>

        <div class="small-12 small-centered medium-4 medium-uncentered columns transport">
          <h5 class="text-center"><b>Tweed Heads Coolangatta Taxis</b></h5>
          <p class="text-center">133 422</p>
        </div>

        <div class="small-12 small-centered medium-4 medium-uncentered columns transport">
          <h5 class="text-center"><b>Gold Coast Cabs</b></h5>
          <p class="text-center">13 10 08</p>
        </div>
      </div>
    </div>
  </div>

</article>
<hr>
