<article class="save-the-date">
  <h1 class="fancy">Caitlan and Josh are getting married!</h1>
  <p>September 27th 2014</p>
  <p>Casuarina, New South Wales</p>
  <p class="fancy">Invitations coming soon</p>
</article>

<article class="map">
  <h1 class="fancy">Reception</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3512.807743590835!2d153.56998455!3d-28.304147499999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b90f8854924add3%3A0xb65d005f2b6bc3f2!2sBarclay+Dr!5e0!3m2!1sen!2sau!4v1393498285046" width="600" height="450" frameborder="0" style="border:0"></iframe>
</article>
