<article class="save-the-date">
  <h1 class="fancy">Caitlan and Josh are getting married!</h1>
  <p>September 27th 2014</p>
  <p>Casuarina, New South Wales</p>
  <p class="fancy">Invitations coming soon</p>
</article>
