<article class="save-the-date">
  <h1 class="fancy">Caitlan and Josh are getting married!</h1>
  <p>September 27th 2014</p>
  <p>Casuarina, New South Wales</p>
  <p class="fancy">Invitations coming soon</p>
</article>

<p class="construction">This site is under construction</p><br>
<p>In the mean time, why not look at some accommodation? The date is in the school holidays so places are booking fast. Casuarina itself has some accomodation and Kingscliffe is approximately a 5 minute drive. Coolangatta is approximately a 20 minute drive. Some have already booked at <a href="http://cottonbeachresort.com.au/" target="_blank">Cotton Beach Resort</a>. You can also find accomodation by searching on <a href="http://www.stayz.com.au/" target="_blank">Stayz</a></p>

<%= render 'invites/rsvp' %>
<div id="invite"></div>
