<div class="row">
  <div class="small-12 small-centered columns text-center">
    <h1 class="fancy">Caitlan and Josh are getting married!</h1>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns text-center">
      <h4 class="text-center uppercase">September 27th 2014</h4>
      <h4 class="text-center uppercase">Casuarina, New South Wales</h4>
      <%= image_tag "http://i.imgur.com/AOyShgS.jpg", id: "main-photo" %>
      <!-- <h4 class="text-center">#caitlanjoshwedding</h4> -->
    </div>
  </div>
</div>
