<hr>
<div class="icon-bar vertical five-up show-for-small-only">
  <a class="item" href="#ceremony">
    <label>Ceremony</label>
  </a>
  <a class="item" href="#reception">
    <label>Reception</label>
  </a>
  <a class="item" href="#accomm">
    <label>Accommodation</label>
  </a>
  <a class="item" href="#transport">
    <label>Transport</label>
  </a>
  <a class="item" href="#contact">
    <label>Contact</label>
  </a>
</div>
<div class="icon-bar five-up show-for-medium-up">
  <a class="item" href="#ceremony">
    <label>Ceremony</label>
  </a>
  <a class="item" href="#reception">
    <label>Reception</label>
  </a>
  <a class="item" href="#accomm">
    <label>Accommodation</label>
  </a>
  <a class="item" href="#transport">
    <label>Transport</label>
  </a>
  <a class="item" href="#contact">
    <label>Contact</label>
  </a>
</div>
<hr>
