<hr>
<div class="icon-bar vertical four-up show-for-small-only">
  <a class="item">
    <label>Accommodation</label>
  </a>
  <a class="item">
    <label>Transport</label>
  </a>
  <a class="item">
    <label>Ceremony</label>
  </a>
  <a class="item">
    <label>Reception</label>
  </a>
</div>
<div class="icon-bar four-up show-for-medium-up">
  <a class="item">
    <label>Accommodation</label>
  </a>
  <a class="item">
    <label>Transport</label>
  </a>
  <a class="item">
    <label>Ceremony</label>
  </a>
  <a class="item">
    <label>Reception</label>
  </a>
</div>
<hr>
