<article class="wedding-section" id="transport">

  <div class="row">
    <h1 class="fancy text-center">Transport</h1>
  </div>

  <div class="row clearfix">
    <div class="small-12 small-centered medium-uncentered columns left">
      <p>We ask that you organise your own transport to and from your accommodation and the ceremony/reception.</p>
      <p>As mentioned before, make sure you organise some way to get back to where you are staying after the reception <b>in advance</b>. The reception will be ending around 11:30pm.</p>
      <p>Here are the contact details for local taxi services:</p>

      <div class="medium-9 small-centered columns">
        <ul class="vcard">
          <li class="fn">Kingscliff Tweed Coast Taxis</li>
          <li class="phone-number">1300 99 2487</li>
        </ul>

        <ul class="vcard">
          <li class="fn">Tweed Heads Coolangatta Taxis</li>
          <li class="phone-number">133 422</li>
        </ul>

        <ul class="vcard">
          <li class="fn">Gold Coast Cabs</li>
          <li class="phone-number">13 10 08</li>
        </ul>
      </div>

    </div>
  </div>

</article>
<hr>
